@font-face {
  font-family: 'Proxima Nova';
  src: url("./fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("./fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Regular.woff") format("woff"), url("./fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("./fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("./fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("./fonts/ProximaNova-Bold.woff") format("woff"), url("./fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html {
  font-family: "Proxima Nova";
  color: #111B42;
}

html * :focus {
  outline: none;
}

body {
  background: #F7F7F7;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0 30px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.msg-container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  position: absolute;
  left: 26px;
  top: 19px;
}

.msg {
  min-width: 504px;
  min-height: 266px;
  background: #FFF;
  margin: 15% 20px 2.5%;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.msg__img {
  margin: 30px;
}

.msg__title {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 19.5px;
  margin: 0 20px 18px 20px;
  color: #ED5338;
}

.msg__descr {
  font-size: 10px;
  text-align: center;
  color: #777F90;
  margin: 0 20px 20px;
}

@media screen and (max-width: 530px) {
  .msg {
    min-width: 0;
    max-width: 98%;
    margin-top: 100px;
  }
}

.sidebar-container {
  min-width: 263px;
  height: 100%;
  position: relative;
}

.sidebar__logo {
  padding: 25px 0 60px 25px;
}

.sidebar {
  width: 100%;
  background: #FFF;
  border-radius: 0px 16px 16px 0px;
  margin: 12px 28px 12px 0;
}

.sidebar__close {
  height: 39px;
  width: 39px;
  padding-left: 10px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -10px;
  top: 75px;
  border: none;
  background: #FFF;
  cursor: pointer;
}

.sidebar__arrow {
  height: 12px;
  width: 12px;
  border: 2px #4E8EF8 solid;
  border-right: 0;
  border-top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sidebar__list {
  padding-bottom: 20px;
}

.sidebar__item {
  min-height: 50px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.sidebar__item:hover:not(.item-disable) {
  background-color: #F7F7F7;
}

.sidebar__item:hover:not(.item-disable) .sidebar__img {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.sidebar__item--plus {
  background: url("img/sidebar-icons/extend.svg") right 17px center no-repeat;
}

.extend {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  background: #F7F7F7 url("img/sidebar-icons/Edit.svg") right 15px center no-repeat;
  padding-left: 70px;
  padding-right: 40px;
}

.extend:hover {
  color: #4E8EF8;
  border-right: 2px #4E8EF8 solid;
  cursor: pointer;
}

.extend__img {
  height: 20px;
  width: 20px;
  margin-right: 5%;
  border-radius: 50px;
  border: 2px solid #BDBDC7;
}

.sidebar__img {
  -webkit-filter: opacity(0.69);
          filter: opacity(0.69);
}

.item-disable {
  cursor: auto;
  background: url("img/sidebar-icons/lock.svg") right 20px center no-repeat;
}

.sidebar__img-wrap {
  min-height: 50px;
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.sidebar__item-name {
  padding-right: 10px;
  width: 100%;
  overflow-wrap: break-word;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.menu {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #BDBDC7;
}

.menu__item {
  padding: 25px;
  cursor: pointer;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.menu__item:hover {
  opacity: .75;
}

.menu__item--active {
  color: #111B42;
}

.profile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.profile-menu__money-count {
  font-size: 14px;
}

.profile-menu__wallet-img {
  margin-right: 12px;
}

.profile-menu__guide-img {
  padding-top: 4px;
}

.profile-menu__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  background: #C4C4C4;
}

.profile-menu__extend {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: url("/img/nav/extend.svg") center top no-repeat;
  cursor: pointer;
}

.user__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #FFF;
  border-radius: 16px 0 0 16px;
  overflow: hidden;
  padding: 40px 50px 55px 35px;
  min-width: 930px;
}

.user__profile {
  margin-right: 20px;
  min-width: 450px;
}

.user__bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__avatar-wrap {
  position: relative;
  min-width: 180px;
  margin-right: 30px;
}

.user__avatar-btn {
  opacity: 0;
  width: 100%;
  height: 180px;
  position: absolute;
  cursor: pointer;
}

.user__avatar {
  display: block;
  max-width: 100%;
  height: 180px;
  border-radius: 7px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 30px;
}

.user__name {
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: 600;
}

.user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.status img:not(:last-child) {
  margin-right: 10px;
}

.role__title {
  font-weight: 600;
  margin-bottom: 8px;
}

.role__name {
  font-size: 14px;
  color: #BDBDC7;
  margin-bottom: 20px;
}

.user__description {
  font-size: 14px;
  color: #BDBDC7;
}

.user__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  margin-bottom: 35px;
}

.user__icon {
  cursor: pointer;
}

.user__icon:not(:last-child) {
  margin-right: 25px;
}

.category__title {
  font-weight: 600;
  margin-bottom: 20px;
}

.category--needs {
  margin-bottom: 26px;
}

.category--industry {
  margin-bottom: 36px;
}

.category--results {
  margin-bottom: 46px;
}

.category--activity {
  margin-bottom: 30px;
}

.results-item {
  height: 40px;
  font-family: "Proxima Nova";
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background: #4E8EF8 url("img/user-info/next.svg") center right 22px no-repeat;
  color: #fff;
  padding: 12px 58px 12px 18px;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.results-item:hover {
  opacity: .9;
}

.activity__item {
  position: relative;
  font-size: 14px;
  font-weight: 600;
}

.activity__item:not(:last-child) {
  margin-right: 38px;
}

.activity__img {
  margin-right: 14px;
}

.tag {
  position: relative;
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #BDBDC7;
  border: 1px #BDBDC7 solid;
  border-radius: 34px;
  padding: 5px 8px 5px 24px;
}

.tag:not(:last-child) {
  margin-right: 11px;
}

.tag:before {
  content: '';
  position: absolute;
  left: 9px;
  top: 50%;
  -webkit-transform: translateY(-55%);
          transform: translateY(-55%);
  width: 8px;
  height: 8px;
  background: #F6D616;
  border-radius: 50%;
}

.tag--card {
  color: #111B42;
}

.tag--orange:before {
  background: #ED5338;
}

.tag--green:before {
  background: #2EB349;
}

.tag-more {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-weight: 600;
  color: #4E8EF8;
}

.analytic__title {
  font-weight: 600;
  margin-bottom: 16px;
}

.analytic__block {
  background: #FFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
}

.analytic__block--small {
  min-width: 180px;
  padding: 16px 20px;
  margin-bottom: 10px;
}

.analytic__block--small:not(:last-child) {
  margin-right: 10px;
}

.analytic__block-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 14px;
  white-space: nowrap;
}

.analytic__block-number {
  font-size: 72px;
  line-height: 70px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 14px;
}

.analytic__block-caption {
  font-size: 14px;
  color: #BDBDC7;
}

.analytic__block-percent {
  font-size: 36px;
  font-weight: 600;
}

.analytic__block--charts {
  padding: 20px 20px 14px 24px;
}

.charts-img {
  margin-bottom: 18px;
}

.chart-name {
  position: relative;
  font-size: 14px;
  padding-left: 40px;
}

.chart-name:not(:last-child) {
  margin-bottom: 8px;
}

.chart-name::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.chart-name--orange:before {
  background: #ED5338;
}

.chart-name--green:before {
  background: #2EB349;
}

.chart-name--blue:before {
  background: #2A99FF;
}

.related__title {
  font-weight: 600;
  margin-bottom: 18px;
}

.related__profiles {
  padding: 28px 18px 18px;
  margin-bottom: 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.related__profiles-img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.slider {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider__arrow {
  width: 12px;
  height: 12px;
  border: 2px #4E8EF8 solid;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: 5px;
  cursor: pointer;
}

.slider__arrow--prev {
  border-right: none;
  border-top: none;
}

.slider__arrow--next {
  border-left: none;
  border-bottom: none;
}

.slider__dot {
  width: 6px;
  height: 6px;
  background: #BDBDC7;
  border-radius: 50%;
  margin: 3px;
}

.slider__dot--active {
  background: #4E8EF8;
}

.actions {
  min-width: 20px;
  min-height: 20px;
  max-width: 25px;
  max-height: 25px;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.card:not(:last-child) {
  margin-right: 10px;
}

.card {
  width: 100%;
}

.card__title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 18px;
}

.card-block {
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  padding: 10px 26px 20px 20px;
  margin-bottom: 18px;
}

.card-block__post {
  font-size: 14px;
  margin: 0 0 18px 0;
}

.card-block__img {
  min-width: 80px;
  min-height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 28px;
}

.card-block__img img:not(:last-child) {
  margin-bottom: 18px;
}

.card-block__text {
  max-width: 320px;
  margin-right: 10px;
}

.card-block__title {
  font-weight: 600;
  margin-bottom: 14px;
}

.card-block__subtext {
  font-size: 12px;
  line-height: 16px;
}

.card-block__subtitle {
  font-weight: 600;
  margin-bottom: 10px;
}

.card-block__subtitle--main {
  width: 140px;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card-block__subtitle--progress {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #2EB349;
}

.card-block__subtitle--progress:before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-style: solid;
  border-width: 0 6px 8px 6px;
  border-color: transparent transparent #2EB349 transparent;
}

.card-block__descr {
  font-size: 14px;
  color: #BDBDC7;
  margin-bottom: 16px;
}

.card-block__extend {
  font-weight: 600;
  padding: 0;
  color: #4E8EF8;
}

.card-block__btn:not(:last-child) {
  margin-bottom: 14px;
}

.mb26 {
  margin-bottom: 26px;
}

.mb16 {
  margin-bottom: 16px;
}

.events {
  width: 100%;
}

.events__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 17px;
}

.events__row:after {
  content: '';
  position: absolute;
  width: 110%;
  height: 1px;
  background: #BDBDC7;
  left: -5%;
  bottom: 0;
}

.events__title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 24px;
}

.events__header {
  font-weight: 600;
  color: #BDBDC7;
}

.events__col-1 {
  width: 10%;
}

.events__col-2 {
  width: 27%;
}

.events__col-3 {
  width: 24%;
}

.events__col-4 {
  width: 27%;
}

.events__col-5 {
  width: 12%;
}

.event__avatar--rub {
  position: relative;
}

.event__avatar--rub::after {
  content: '';
  position: absolute;
  right: 18px;
  bottom: 5px;
  width: 18px;
  height: 18px;
  background: url("/img/rub.svg");
}

.event__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.event__icon {
  height: 12px;
  width: auto;
  margin-right: 10px;
}

.event__img {
  width: 62px;
  max-width: 62px;
  height: auto;
  border-radius: 7px;
}

.event__title {
  font-weight: 600;
  color: #000;
  margin-bottom: 10px;
}

.event__descr {
  font-size: 14px;
  color: #BDBDC7;
}

.event__until {
  font-size: 14px;
  color: #BDBDC7;
}

.event__timer {
  width: 150px;
  font-weight: 600;
  color: #4E8EF8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
  margin-left: 10px;
}

.event__btns {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.event__extend {
  font-size: 14px;
  color: #4E8EF8;
  font-weight: 600;
}

.more-info {
  position: relative;
  width: 100%;
  max-width: 500px;
  background: #FFF;
  -webkit-box-shadow: inset 2px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 0 16px 16px 0;
  padding: 77px 24px;
}

.more-info__hide {
  position: absolute;
  font-weight: 600;
  color: #4E8EF8;
  font-size: 14px;
  line-height: 28px;
  top: 17px;
  left: 22px;
  padding-left: 30px;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
}

.more-info__hide::before {
  position: absolute;
  left: 0;
  content: '';
  width: 25px;
  height: 25px;
  background: url("/img/hide.svg");
}

.more-info__title {
  font-weight: 600;
}

.more-info__container {
  padding: 0 24px;
}

.more-info__subtitle {
  font-size: 14px;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 20px;
}

.more-info__text {
  font-size: 14px;
  color: #BDBDC7;
  margin-bottom: 32px;
}

.more-info__activity {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

.subtag {
  padding: 3px 20px;
  color: #BDBDC7;
  background: #F5F5F5;
  border-radius: 34px;
}

.subtag:not(:last-child) {
  margin-right: 12px;
}

.more-info__btn {
  margin-bottom: 64px;
}

.more-info__video {
  margin-bottom: 68px;
}

.link {
  font-size: 14px;
  font-weight: 600;
  color: #4E8EF8;
}

.more-info__link {
  margin-bottom: 12px;
}

.more-info__subtitle--links {
  margin-top: 55px;
}
