@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/ProximaNova-Regular.eot");
  src: local("Proxima Nova Regular"), local("ProximaNova-Regular"), url("/fonts/ProximaNova-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/ProximaNova-Regular.woff") format("woff"), url("/fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("/fonts/ProximaNova-Bold.eot");
  src: local("Proxima Nova Bold"), local("ProximaNova-Bold"), url("/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/ProximaNova-Bold.woff") format("woff"), url("/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

html {
  font-family: "Proxima Nova";
  color: #111B42;
}

html * :focus {
  outline: none;
}

body {
  background: #F7F7F7;
}

.container {
  max-width: 1920px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.msg-container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.logo {
  position: absolute;
  left: 26px;
  top: 19px;
}

.msg {
  min-width: 504px;
  min-height: 266px;
  background: #FFF;
  margin: 15% 20px 2.5%;
  border-radius: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.msg__img {
  margin: 30px;
}

.msg__title {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  line-height: 19.5px;
  margin: 0 20px 18px 20px;
  color: #ED5338;
}

.msg__descr {
  font-size: 10px;
  text-align: center;
  color: #777F90;
  margin: 0 20px 20px;
}

@media screen and (max-width: 530px) {
  .msg {
    min-width: 0;
    max-width: 98%;
    margin-top: 100px;
  }
}

.sidebar-container {
  width: 263px;
  height: 100%;
  position: relative;
}

.sidebar__logo {
  padding: 25px 0 60px 25px;
}

.sidebar {
  width: 100%;
  background: #FFF;
  border-radius: 0px 16px 16px 0px;
  margin: 12px 28px 12px 0;
}

.sidebar__close {
  height: 39px;
  width: 39px;
  padding-left: 10px;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: -10px;
  top: 75px;
  border: none;
  background: #FFF;
  cursor: pointer;
}

.sidebar__arrow {
  height: 12px;
  width: 12px;
  border: 2px #4E8EF8 solid;
  border-right: 0;
  border-top: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sidebar__list {
  padding-bottom: 20px;
}

.sidebar__item {
  min-height: 50px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

.sidebar__item:hover:not(.item-disable) {
  background-color: #F7F7F7;
}

.sidebar__item:hover:not(.item-disable) .sidebar__img {
  -webkit-filter: opacity(1);
          filter: opacity(1);
}

.sidebar__item--plus {
  background: url("/img/sidebar-icons/extend.svg") right 17px center no-repeat;
}

.extend {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
  background: #F7F7F7 url("/img/sidebar-icons/Edit.svg") right 15px center no-repeat;
  padding-left: 74px;
}

.extend:hover {
  color: #4E8EF8;
  border-right: 2px #4E8EF8 solid;
  cursor: pointer;
}

.extend__img {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  border-radius: 50px;
  border: 2px solid #BDBDC7;
}

.sidebar__img {
  -webkit-filter: opacity(0.69);
          filter: opacity(0.69);
}

.item-disable {
  cursor: auto;
  background: url("/img/sidebar-icons/lock.svg") right 20px center no-repeat;
}

.sidebar__img-wrap {
  min-height: 50px;
  min-width: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px;
}

.sidebar__item-name {
  padding-right: 10px;
  width: 100%;
  overflow-wrap: break-word;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 0 30px;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}

.menu {
  min-height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #BDBDC7;
}

.menu__item {
  padding: 25px;
  cursor: pointer;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

.menu__item:hover {
  opacity: .75;
}

.menu__item--active {
  color: #111B42;
}

.profile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.profile-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.profile-menu__money-count {
  font-size: 14px;
}

.profile-menu__wallet-img {
  margin-right: 12px;
}

.profile-menu__guide-img {
  padding-top: 4px;
}

.profile-menu__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
  background: #C4C4C4;
}

.profile-menu__extend {
  width: 20px;
  height: 20px;
  padding: 0;
  border: none;
  background: url("/img/nav/extend.svg") center top no-repeat;
  cursor: pointer;
}

.user__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background: #FFF;
  border-radius: 16px 0 0 16px;
  overflow: hidden;
  padding: 40px 50px 55px 35px;
}

.user__bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user__avatar {
  width: 180px;
  height: 180px;
  border-radius: 7px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 30px 30px 0;
}

.user__name {
  font-size: 25px;
  padding-bottom: 10px;
  font-weight: 600;
}

.user__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.status img:not(:last-child) {
  margin-right: 10px;
}

.role__title {
  font-weight: 600;
  margin-bottom: 8px;
}

.role__name {
  font-size: 14px;
  color: #BDBDC7;
  margin-bottom: 20px;
}

.user__description {
  font-size: 14px;
  color: #BDBDC7;
}

.user__more-info {
  height: 100vh;
  width: 500px;
  background: #FFF;
  border: 1px #000 solid;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
