@import "_variables";
@import "_fonts";

html {
  font-family: "Proxima Nova";
  color: $main-text-color;

  & * :focus {
    outline: none;
  }
}

body {
  background: $main-bg;
}

.container {
  max-width: 1920px;
  display: flex;
}

@import 'blocks/_msg';
@import 'blocks/_sidebar';
@import 'blocks/_nav';
@import 'blocks/_user';