@import "_variables";
@import "_fonts";

html {
  font-family: "Proxima Nova";
  color: $main-text-color;

  & * :focus {
    outline: none;
  }
}

body {
  background: $main-bg;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
}

.row {
  display: flex;
  flex-direction: row
}

.col {
  display: flex;
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

@import 'blocks/_msg';
@import 'blocks/_sidebar';
@import 'blocks/_nav';
@import 'blocks/_analytics';
@import 'blocks/_user-profile';
@import 'blocks/_more-info';