@import "_variables";
@import "_fonts";

html {
  font-family: "Proxima Nova", sans-serif;
  color: $main-text-color;

  & * :focus {
    outline: none;
  }
}

body {
  background: $main-bg;
}

.container {
  margin: 0 auto;
  max-width: 1920px;
  display: flex;
  padding-bottom: 100px;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 30px;
}


.row {
  display: flex;
  flex-direction: row
}

.col {
  display: flex;
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

@import 'blocks/_msg';
@import 'blocks/_sidebar';
@import 'blocks/_nav';
@import 'blocks/_user-profile';
@import 'blocks/_tag';
@import 'blocks/_analytics';
@import 'blocks/_slider';
@import 'blocks/_actions';
@import 'blocks/_card';
@import 'blocks/_events';
@import 'blocks/_more-info';