// Analytics
.analytic {}

.analytic__title {
  font-weight: 600;
  margin-bottom: 16px;
}

.analytic__block {
  background: $item-bg;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;

}

.analytic__block--small {
  min-width: 180px;
  padding: 16px 20px;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.analytic__block-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 14px;
}

.analytic__block-number {
  font-size: 72px;
  line-height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.analytic__block-caption {
  font-size: 14px;
  color: $secondary-text-color;
}

.analytic__block-percent {
  font-size: 36px;
  font-weight: 600;
}

.analytic__block--charts {
  padding: 20px 20px 14px 24px;
}

.charts-img {
  margin-bottom: 18px;
}

.chart-name {
  position: relative;
  font-size: 14px;
  padding-left: 40px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  &::before {
    content: '';
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }
}

.chart-name--orange:before {
  background: #ED5338;
}

.chart-name--green:before {
  background: #2EB349;
}

.chart-name--blue:before {
  background: #2A99FF;
}

.related__title {
  font-weight: 600;
  margin-bottom: 18px;
}

.related__profiles {
  padding: 28px 18px 18px;
  margin-bottom: 28px;
  justify-content: space-between;
}

.related__nav {
  justify-content: center;
  align-items: center;
}

.related__arrow {
  width: 12px;
  height: 12px;
  border: 2px $main-color solid;
  transform: rotate(45deg);
  margin: 5px;
  cursor: pointer;
}

.related__arrow--prev {
  border-right: none;
  border-top: none;
}

.related__arrow--next {
  border-left: none;
  border-bottom: none;
}

.related__dot {
  width: 6px;
  height: 6px;
  background: $secondary-text-color;
  border-radius: 50%;
  margin: 3px;
}

.related__dot--active {
  background: $main-color;
}