// Analytics
.analytic {}

.analytic__title {
  font-weight: 600;
  margin-bottom: 16px;
}

.analytic__block {
  background: $item-bg;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 7px;

}

.analytic__block--small {
  min-width: 180px;
  padding: 16px 20px;
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.analytic__block-title {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 14px;
  white-space: nowrap;
}

.analytic__block-number {
  font-size: 72px;
  line-height: 70px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
}

.analytic__block-caption {
  font-size: 14px;
  color: $secondary-text-color;
}

.analytic__block-percent {
  font-size: 36px;
  font-weight: 600;
}

.analytic__block--charts {
  padding: 20px 20px 14px 24px;
}

#main-chart {
  width: 100%;
}

.related__title {
  font-weight: 600;
  margin-bottom: 18px;
}

.related__profiles {
  padding: 28px 18px 18px;
  margin-bottom: 28px;
  justify-content: space-between;
}

.related__profiles-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 7px;
}